body {
    background-color: black;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
}

div {
    margin-bottom: 50px;
}

h1 {
    font-size: 70 px;
    color: white;
    margin-bottom: 30px;
}

h2 {
    font-weight: 300;
    font-size: 42 px;
    margin-bottom: 30px;
}

p {
    font-size: 21 px;
    color: gray;
}

a {
    color: aquamarine;
    font-size: 16 px;
}

.limited {
    /* 896 × 527 */
    height: 263px;
    width: 448px;
}

.copyright {
    text-align: right;
}